@model IEnumerable<PersonalWebsite.Models.Post>

@{
    ViewBag.Title = "Index";
}

<table class="layui-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TableHead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgSrc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tamidashi)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TableHead)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TableData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImgSrc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tamidashi)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PostID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PostID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PostID })
                </td>
            </tr>
        }
    </tbody>

</table>
